@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(banner.jpg);
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    position: center;
}

.Heading {
    color: #fff;
    width: 90%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
}

.Heading h1 {
    margin-bottom: 20px;
    font-size: 60px;
}

.Heading p {
    color: #ddd;
    margin-bottom: 20px;
    font-size: 20px;
}

button.donate {
    background: transparent;
    padding: 15px 35px;
    border: 1px solid #fb5200;
    border-radius: 15px;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    transition: 0.3s;
}

button.donate:hover {
    background-color: #fb5200;
    cursor: pointer;
    box-shadow: 0px 0px 10px #fb5200;
}

section.secound {
    width: 100%;
    height: 500px;
}

.details {
    text-align: center;
    margin-top: 10%;
}

.details h1 {
    font-size: 40px;
    color: #262626;
    margin-bottom: 20px;
}

.details p {
    color: #333;
    font-size: 18px;
    margin-bottom: 20px;
}

.amountSelection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 20px;
}

.amountSelection h1 {
    padding: 30px;
    font-size: 30px;
    font-weight: bold;
}

.amountSelection h1:nth-child(3) {
    color: #fb5200;
    border: 2px solid #fb5200;
    background: #f1ddd4;
    box-shadow: 0px 0px 5px #fb5200;
}

.OtherAmount {
    margin-top: 5%;
    text-align: center;
}

input[type="text"] {
    display: block;
    margin: 5% 22% 2% 22%;
    width: 55%;
    background: none;
    text-align: center;
    border: none;
    border-bottom: 1px solid #a7a7a7;
    outline: none;
}

button.amountDonate {
    background: transparent;
    padding: 17px 30px;
    border: 1px solid #fb5200;
    border-radius: 15px;
    font-size: 17px;
    font-weight: 600;
    color: black;
    transition: 0.3s;
}

button.amountDonate:hover {
    background-color: #fb5200;
    cursor: pointer;
    box-shadow: 0px 0px 10px #fb5200;
    color: #fff;
}

.plans {
    width: 1140px;
    margin: auto;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.plan-1,
.plan-2,
.plan-3 {
    width: 325px;
    padding: 50px;
    border: 2px solid #fd9e72;
    border-radius: 7px;
    box-shadow: 0px 0px 15px #a09f9f;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.plan-2 {
    border: 2px solid #93fdfd;
    transition: 0.3s;
}

.plan-3 {
    border: 2px solid #f2a6fc;
    transition: 0.3s;
}

.plan-1:hover {
    background-color: #fd9e72;
}

.plan-2:hover {
    background-color: #93fdfd;
}

.plan-3:hover {
    background-color: #f2a6fc;
}

.plan-1,
.plan-2,
.plan-3,
h2 {
    font-size: 28px;
    color: #181818;
    margin-bottom: 5px;
}

.plan-1,
.plan-2,
.plan-3,
i {
    font-size: 30px;
    margin-bottom: 15px;
}

.plan-1,
.plan-2,
.plan-3 p {
    font-size: 18px;
    color: #333;
}

.wayOfContact {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 100px;
    border: 1px solid #fb5200;
    border-radius: 5px;
    background: #ffede5;
}

input[type="email"] {
    width: 320px;
    height: 40px;
    border: 1px solid #fb5200;
    padding: 0 20px;
    border-radius: 25px 0px 0px 25px;
    background: #fff;
    outline: none
}

input[type="submit"] {
    position: relative;
    height: 42px;
    border-radius: 0 25px 25px 0px;
    width: 99px;
    background: #fb5200;
    border: none;
    left: -50px;
    font-weight: 600;
    cursor: pointer;
    font-size: 13px;
    color: #fff;
}

section.donation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5%;
    background-color: rgb(250, 250, 250);
}

.wayOfContribute {
    width: 50%;
    margin: 0 25px 0 106px;
}

.wayOfContribute h1 {
    font-size: 31px;
    margin: 65px 0;
}

.wayOfContribute h1 a {
    color: black;
    text-decoration: none;
}

.wayOfContribute p {
    font-size: 20px;
    font-weight: 500;
}

.donationImg img {
    width: 82%;
    border-radius: 35px;
    box-shadow: 0px 0px 8px #333;
}

.donationImg {
    width: 50%;
}

button.contribute {
    background: transparent;
    padding: 15px 35px;
    border: 1px solid #fb5200;
    border-radius: 15px;
    font-size: 17px;
    font-weight: 600;
    color: #000;
    margin-top: 60px;
    transition: 0.3s;
}

button.contribute:hover {
    background-color: #fb5200;
    cursor: pointer;
    box-shadow: 0px 0px 10px #fb5200;
    color: #fff;
}

section.donation-2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5%;
    background-color: rgb(250, 250, 250);
}

.wayOfContribute-2 {
    width: 50%;
    margin: 0 106px 0 25px;
}

.wayOfContribute-2 h1 {
    font-size: 31px;
    margin: 65px 0;
}

.wayOfContribute-2 h1 a {
    color: black;
    text-decoration: none;
}

.wayOfContribute-2 p {
    font-size: 20px;
    font-weight: 500;
}

.donationImg-2 img {
    width: 95%;
    height: 100%;
    border-radius: 30px;
    box-shadow: 0px 0px 8px #333;
}

section.updates {
    width: 100%;
    height: 500px;
    margin-bottom: 5%;
}

footer {
    width: 100%;
    height: 200px;
    background: #fb5200;
}

.finishing {
    text-align: center;
    padding-top: 80px;
    color: #fff;
}

.finishing h1 {
    font-size: 30px;
}

.finishing p {
    font-size: 15px;
}